

html

body
    margin: 0
    background: #b06000
*
    box-sizing: border-box


.ml-1
    margin-left: 4px
.ml-2
    margin-left: 8px
.ml-3
    margin-left: 12px
.ml-4
    margin-left: 16px
.mr-1
    margin-right: 4px
.mr-2
    margin-right: 8px
.mr-3
    margin-right: 12px
.mr-4
    margin-right: 16px

#app
    width: 100vw
    height: 100vh
    display: flex
    cursor: default
    //background: black

    .roomWrapper
        width: 30%
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        .roombar
            height: 20px
            box-sizing: border-box
            border: 1px solid
            margin: 10px 0
            text-align: center
    .gameroom
        position: absolute
        width: 100%
        height: 100%
        padding: 30px 20px 0 20px

        .roomInfo
            //position: absolute
            top: 0
            left: 50%
            .team
                display: flex
                justify-content: space-between
                &B, &R
                    display: flex
                    flex-direction: column
                    > div
                        margin: 5px 0
                        display: flex
                    .label
                        color: #fff
                    span
                        color: #000
                        pointer-events: none
                        &.isSelf
                            color: lightblue
                            font-weight: 700
                            font-size: 18px
                            transform: rotate(10deg)
                            border-bottom: 2px solid lightblue
                &B
                    span
                        margin-right: 10px
                    .label
                            background: blue
                &R
                    span
                        margin-left: 10px
                    > div
                        justify-content: flex-end
                    .label
                            background: red
            .configuration
                display: flex
                > div
                    margin: 0 10px
                    > div
                        display: flex
                        justify-content: space-between
                        input
                            width: 50px

        .game
            display: flex
            flex-wrap: wrap
            padding-top: 110px
            position: relative
            .confirmWrapper
                position: fixed
                width: 100vw
                height: 100vh
                top: 0
                left: 0
                background: rgba(0,0,0, 0.6)
                z-index: 9999
                .confirm
                    width: 100px
                    height: 300px
                    position: absolute
                    top: 50%
                    left: 50%
                    transform: translate(-50%, -50%)
                    background: #fff
                    display: flex
                    flex-direction: column
                    justify-content: space-around
                    align-items: center
                    text-align: center
                    button
                        width: auto

            .prompt
                position: absolute
                top: 0
                left: 50%
                transform: translateX(-50%)
                z-index: 999
            .log
                position: absolute
                top: 0
                display: flex
                justify-content: space-between
                width: 100%
                &B, &R
                    display: flex
                    flex-direction: column
                    overflow: auto
                    width: 100px
                    height: 100px
                    border: 1px solid
                &R
                    text-align: right
                .logStatus
                    .selecting
                        display: flex
                        flex-direction: column
                        justify-content: space-around
                        height: 100%
            .cardWrapper
                display: flex
                flex-wrap: wrap
                padding: 10px
                .card
                    width: 98px
                    height: 98px
                    margin: 10px
                    border: 5px solid
                    box-sizing: border-box
                    img
                        max-width: 100%
                        width: 100%
                    &:hover
                        background: #00bfa5
                    &.blueCard
                        border-color: blue
                        background: rgba(7, 114, 230, 0.8)
                    &.redCard
                        border-color: red
                        background: rgba(209, 6, 6, 0.8)
                    &.dieCard
                        border-color: black
                        background: rgba(0, 0, 0, 0.8)
                        animation: 2s bomb infinite
                    &.peopleCard
                        border-color: #fff
                        background: rgba(255,255,255, 0.8)

@keyframes bomb
    0%
        background: #fff
    100%
        background: #000